<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.cookie.min.js}"></script>
    <script>
        $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
            options.xhrFields = {
                withCredentials: true
            }
        });

        $(function () {
            $.ajax({
                type: 'post',
                url: '[[${apiPath}]]sysLogin/isLogin',
                dataType: 'json',
                sync: true,
                headers: {'token': $.cookie('token')},
                error: function() {
                    layer.msg('请求超时，请重新登录', {icon: 2, time: 3000, shadeClose: true, end: function () {
                            window.location.href = '[[@{/sys/login}]]';
                        }});
                },
                success: function (d) {
                    if (d.code != 200 || !d.body) {
                        window.location.href = '[[@{/sys/login}]]';
                    }
                }
            });
        });
    </script>
</div>