<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.modules.example.mapper.ExampleMapper">

  <insert id="add" parameterType="com.youzi.modules.example.entity.Example">
    insert into example(title, type, content, addTime, remark, orderby)
    values(#{title}, #{type}, #{content}, #{addTime}, #{remark}, #{orderby})
  </insert>

  <insert id="addAndGetId" parameterType="com.youzi.modules.example.entity.Example" useGeneratedKeys="true" keyProperty="id">
    insert into example(title, type, content, addTime, remark, orderby)
    values(#{title}, #{type}, #{content}, #{addTime}, #{remark}, #{orderby})
  </insert>

  <update id="update" parameterType="com.youzi.modules.example.entity.Example">
    update example
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="orderby != null">
        orderby = #{orderby},
      </if>
      updateTime = now()
    </set>
    where id = #{id}
  </update>

  <update id="delete" parameterType="com.youzi.common.query.DeleteQuery">
    update example
    set enabled = 0, deleteTime = now()
    where id in
    <foreach item="item" collection="ids.split(',')" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="selectById" parameterType="long" resultType="com.youzi.modules.example.vo.ExampleVo">
    select id, title, type, content, addTime, updateTime, remark from example
    where enabled = 1 and id = #{id}
  </select>

  <select id="selectPage" parameterType="com.youzi.modules.example.query.ExampleQuery" resultType="com.youzi.modules.example.vo.ExampleVo">
    select id, title, type, content, addTime, updateTime, remark from example
    where enabled = 1
    <if test="title != null and title != ''">
      and title = #{title}
    </if>
    <if test="type != null and type != 0">
      and type = #{type}
    </if>
    order by orderby
  </select>

</mapper>
